.cube{
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
    transform: rotateX(-30deg);
    margin-top: 100px;
    margin-left: 250px;

}
@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg)
    }
    
}
.cube div{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    background: linear-gradient(#151515 ,#4682B4);
    transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
}
.top{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    background: #222;
    transform: rotateX(90deg) translateZ(75px);
}
.top::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    background: #4682B4;
    
    transform:  translateZ(-190px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(70,130, 180),0 0 200px rgb(70,130, 255),
    0 0 200px rgb(70,130, 185),
    0 0 200px rgb(70,130, 187),
    0 0 200px rgb(70,130, 189);
}

